.page-container {
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 767px) {
    .row .col {
      flex: 0 0 50%;
      max-width: 50%;
      height: auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .row .col {
      flex: 0 0 33.333%;
      max-width: 33.333%;
      height: auto;
    }
  }
  
  @media (min-width: 992px) {
    .row .col {
      flex: 0 0 25%;
      max-width: 25%;
      height: auto;
    }
  }
  