.glassmorphism-footer {
  background: linear-gradient(to right, #f0f9ff, #e0f7fa); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif; 
}

.footer {
  padding: 5px 10px; 
}

.footer .text-black {
  color: #0b3d91; 
}

.footer .list-unstyled {
  padding-left: 0;
}

.footer .list-unstyled a {
  color: #0b3d91; 
  text-decoration: none;
  transition: color 0.3s; 
}

.footer .list-unstyled a:hover {
  color: #063073;
}

.footer .payment-icons {
  display: flex;
  flex-wrap: wrap; 
}

.footer .payment-icons img {
  width: 50px;
  margin: 10px; 
}

.social-media .d-flex {
  display: flex;
  align-items: center;
  margin: 10px 0; 
}

.social-media a {
  text-decoration: none;
  color: #0b3d91; 
  transition: color 0.3s; 
}

.social-media a:hover {
  color: #063073;
}

.social-media i {
  margin-right: 10px; 
}

.me-2 {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 15px;
  }

  .footer h5 {
    font-size: 1.25rem; 
  }

  .payment-icons img {
    width: 40px; 
  }
}
