#home {
    display: flex; /* Flexbox layout for alignment */
    flex-direction: column; /* Column layout for contents */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    /* height: 100vh; */
    /* background: linear-gradient(to right, #f0f9ff, #e0f7fa);  */
    /* padding: 40px 15px;  */
    border-radius: 10px; /* Rounded corners */
    font-family: 'Poppins', sans-serif; /* Elegant and modern font */
}

#home h1 {
    color: #0b3d91; /* Dark blue for the main heading */
    font-size: 3rem; /* Adjust font size */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#home h2 {
    color: #6c757d; /* Muted color for the subtitle */
    font-size: 2rem; /* Adjust font size */
}

p.lead {
    color: #333; /* Darker color for paragraph text */
    font-family: 'Open Sans', sans-serif; /* Consistent font */
    text-align: left; /* Center text for readability */
}

.home-img-fluid {
    max-height: 400px; /* Adjust max height */
    width: 100%; /* Full width */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow effect */
    transition: transform 0.5s ease; /* Smooth transition for scaling */
}

.img-fluid:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    /* #home {
        padding: 20px; 
    } */

    h1 {
        font-size: 2.5rem; /* Responsive font size for smaller screens */
    }

    h2 {
        font-size: 1.8rem; /* Responsive font size for smaller screens */
    }

    .img-fluid {
        max-height: 300px; /* Adjust max height for smaller screens */
    }
}
